@page
@model Proiect_Rochii.Pages.Rochii.DetailsModel

@{
    ViewData["Title"] = "Detalii";
}

<h1>Details</h1>

<div>
    <h4>Rochie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rochie.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rochie.Denumire)
        </dd>
        <dt class="col-sm-2">
           <!-- @Html.DisplayNameFor(model => model.Rochie.Designer.NumeDesigner) -->
           Numele designerului
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rochie.Designer.NumeDesigner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rochie.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rochie.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rochie.Marime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rochie.Marime)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rochie?.ID">Editare</a> |
    <a asp-page="./Index">Inapoi la lista</a>
</div>
